# do NOT put any of the following in the github repo:

# not used, but ignore environment variables just in case:
.env

# macOS folder attributes:
.DS_Store

*.log
config.ini
models.ini
git_setup.txt
cls*
youtube*
yt*
mule*
shelve*
hopo*
menu*

# PyInstaller stuff:
build/
dist/
*.spec
__pycache__/

# Shelve files:
*.db
*.dat
*.dir
*.bak
