# used to create this file:
# pip install pipreqs
# pipreqs --force

anthropic==0.21.1
Flask==3.0.2
Flask_Cors==4.0.0
langchain_community==0.0.32
loguru==0.7.2
Pillow==10.3.0
Requests==2.31.0
waitress==3.0.0
Werkzeug==3.0.1
wxPython==4.2.1
strip_markdown